#Projects {
    position: relative;
    top: 530px;
    margin-bottom: 200px;
    width: 100%;
    padding-top: 75px;
    margin-bottom: 50px;
  }
  
  #Projects h2 {
    z-index: 2;
    font-size: 50px;
    margin-bottom: 60px;
    color: white;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.5);

  }
  
  .project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 35px;
    margin-top: 100px;
    padding-bottom: 100px;
  }
  
  .project-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .project-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 5px;
    color: white;
    z-index: 2;
  }


@keyframes pulsate {
    0% {
        border-color: transparent;
    }
    50% {
        border-color: gold;
    }
    100% {
        border-color: transparent;
    }
}
  
  .thumbnail {
    position: relative;
    width: 350px;
    height: 300px;
    overflow: hidden;
    border: solid 4px gold;
    animation: pulsate 3s infinite;
    border-radius: 10px;
    z-index: 2;
  }
  
  .thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .thumbnail:hover img {
    transform: scale(1.1);
  }
  
  .thumbnail:hover .overlay {
    opacity: 1;
  }
  
  .overlay img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .project-description {
    max-width: 450px;
    margin: 10px 0;
    margin-left: 10px;
    padding: 10px;
    font-size: 18px;
    line-height: 1.5;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border-color: black;
    border-radius: 20%;
    z-index: 2;
  }
  
  @media only screen and (max-width: 800px) {
    #Projects .section-title {
      position: static;
      text-align: center;
      padding: 50px;
      font-size: 50px;
      color: white;
    }
  
    .project-grid {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 200px;
      row-gap: 50px;
      margin-top: 50px;
    }
  
    .thumbnail {
      position: relative;
      width: 360px;
      height: 240px;
      overflow: hidden;
      border: solid 2px white;
      border-radius: 10px;
    }
  }
  